.postList {
  @include responsive-card-container;
  // background-color: green;
  // padding: 50px;
  // flex: 1 0 50%;
  // flex: 1 0 50%;

  > .post {
    @include card;

    > .content {
      border: 1px solid red;
    }
  }

  /*
  > .list {
    @include responsive-card-container(200);
  }
  */
  // @include card();
  /*
  > .postList {
    background-color: red;
  }
  */
}

/*
.postList {
  // background-color: red;
  // @include responsive-card-container;
  @include responsive-card-container;
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // max-width: 100%;
}
*/