.errorContent {
  text-align: center;

  > .header {
    padding-bottom: 10px;

    > p {
      margin: 0 auto;
      font-size: 20px;
      font-weight: 300;
      color: $gray-vdark;

      a {
        color: $blue-light;
      }
    }

    > i {
      margin: 16px;
      font-size: 48px;
      color: #f27171;
    }

  }

  > .refresh {
    display: flex;
    @include blue-button();
    margin: 1rem;
  }
}
