@font-face {
  font-family: "Latto";
  font-style: normal;
  font-weight: 400;
  src: url("./Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Latto";
  font-style: normal;
  font-weight: 300;
  src: url("./Lato/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Latto";
  font-style: normal;
  font-weight: 700;
  src: url("./Lato/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Latto";
  font-style: italic, oblique;
  font-weight: 400;
  src: url("./Lato/Lato-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("./MaterialIcons-Regular.eot"); // For IE6-8
  src: url("./MaterialIcons-Regular.woff2") format("woff2");
  src: url("./MaterialIcons-Regular.woff") format("woff");
  src: url("./MaterialIcons-Regular.ttf") format("truetype");
}
